.btn {
    @include active;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 226px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;

    @include hover {
        background-color: #000;
        color: #fff;
        border: 1px solid;
    }
}