.wrap-news {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.wrap-news__heading {
    color: #2a5b98;
    padding-bottom: 20px;
}

.wrap-news__link {
    padding-top: 4px;
    margin-left: auto;
}

.wrap-news__article {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left: -8px;
    margin-right: -8px;
}

.news {
    width: 33.33%;
    margin-bottom: 15px;
    padding: 0 8px;
}

.news__text {
    margin-bottom: 20px;
}

.news__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.news__img-wrap {
    position: relative;
    padding-bottom: 64%;
    margin-bottom: 12px;
}

.news__heading {
    margin-bottom: 4px;
    font-size: 14px;
}

.news__time {
    font-size: 14px;
}