.preview-content {
    display: flex;
    flex-direction: column;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 42px;
    padding-bottom: 16px;
    flex-grow: 1;
    background-image: url('../img/bg/main-bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: #000;
}

.preview-content__trust {
    padding-top: 16px;
    margin-top: auto;
}

.preview-content__title-wrap {
    padding-top: 38px;
    padding-bottom: 24px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-bottom: 36px;
    color: $light-color;
}

.preview-content__title {
    font-size: 32px;
    margin-bottom: 35px;
    font-weight: 700;
}

.preview-content__sub-title {
    font-size: 24px;
}

.preview-content__info-title {
    margin-bottom: 4px;
    font-size: 21px;
    font-weight: 700;
    color: $brand-color;
}

.preview-content__info-text {
    font-size: 14px;
    color: $light-color;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.preview-content__info {
    margin-bottom: 30px;
}